<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        Seforim.app is built on top of the open source Sefaria Project, and is currently under construction. Please look around and let us know any feedback!  
    </span>
	<span class="int-he" style="font-weight: bold">
        Seforim.app is built on top of the open source Sefaria Project, and is currently under construction. Please look around and let us know any feedback!
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="mailto:info@seforim.app">
        <span>Leave feedback</span>
    </a>
    <a class="button white int-he" href="mailto:info@seforim.app">
        <span>צור קשר</span>
    </a>
</div>